attached_assets/API - Rendimiento Personal_1758313825291.json
{
  "name": "API - Rendimiento Personal",
  "nodes": [
    {
      "parameters": {
        "path": "api/dashboard/personal",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        400,
        -176
      ],
      "id": "03c809ff-44c6-496a-84ba-5065409fec28",
      "name": "Webhook",
      "webhookId": "1496176d-3997-4ede-b2d8-948e76971b6a"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        816,
        -176
      ],
      "id": "604b59e0-bff4-4cb3-baa7-a2c5949cef9a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  e.nombre || ' ' || e.apellido as empleado,\n  e.rol,\n  SUM(p.total) as total_ventas\nFROM pedidos p\nJOIN empleados e ON p.empleado_id = e.id\nWHERE p.created_at >= date_trunc('week', CURRENT_DATE)\nGROUP BY empleado, e.rol\nORDER BY total_ventas DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        -176
      ],
      "id": "2ca25c70-d1e0-4556-aa6d-53adb94a9f00",
      "name": "Calcular Rendimiento de Personal",
      "credentials": {
        "postgres": {
          "id": "2FevWKFbE5vwm3ou",
          "name": "Mi Supabase"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Calcular Rendimiento de Personal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Rendimiento de Personal": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "325ecee9-dcc8-43d4-8d3c-fdade457ba57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d74b527686138088569a73c83757ab612a53b10fd16aa355cf80b076bc8a543a"
  },
  "id": "UBiwbEvY5CLMNLRZ",
  "tags": []
}